body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    width: 600px;
    height: 600px;
    border: 5px solid black;
}

.tile {
    display: flex;
    justify-content: center;
    align-items: center;
}

.piece {
    width: 75%;
    height: 75%;
    border-radius: 50%;
    z-index: 1;
}

#search-button {
    margin-top: 20px;
    cursor: pointer;
}

#status-message {
    margin-top: 20px;
    font-size: 24px;
}